.global-dropdown-popover {
  cursor: pointer;
  &.el-popper {
    background: rgba(247, 248, 255, 0.08) !important;
    border: none !important;
    .el-dropdown-menu__item {
      font-size: 0.16rem;

    }

    .el-popper__arrow::before {
      border: none !important;
      width: unset !important;
      height: unset !important;
      border-top: 10px solid rgba(247, 248, 255, 0.08) !important;
      border-right: 10px solid rgba(247, 248, 255, 0.08) !important;
       
      background: transparent !important;
    }
  }
  .el-dropdown-menu {
     background-color: unset;

    &__item{
      color: #ffffff;

      &:not(.is-disabled):focus {
        background-color: unset;
        color: #abdfff;
      }
    }
  }
}